* text=auto eol=lf

*.css linguist-vendored
*.html linguist-vendored
*.vue linguist-vendored

*.svg linguist-vendored

src/locales/** linguist-generated
src/store/** linguist-generated
src/types/** linguist-generated
