.port-forward {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #333;
    margin: 2px 0;
    padding: 4px 0;
}

.port-forward-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex: 3;
    position: relative;
}

.port-forward-name {
    max-width: 160px;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.port-forward-enable-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;

    input {
        outline: none;
        cursor: pointer;
    }
}

.port-forward-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 4;
}

.port-forward-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.port-forward-info-header {
    display: flex;
    flex-direction: row;
}

.port-forward-info-label {
    width: 60px;
    font-weight: bold;
}
